
html {
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    padding-bottom: 10rem;
    position: relative;
    min-height: 100%;
}

/* Generic & Bootstrap Elements */
.jumbotron {
    /* background-color: #575757; */
    background-size: cover;
    /* background-position: center; */
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-transform: uppercase;
    padding: 12rem 2rem;
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1); */
}

/* .container {
    position: relative;
} */

/* Navigation Bar */
.navbar-dark {
    background-color: #202020fa;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    margin: auto 1rem;
    text-align: start;
}

.brand-icon {
    max-width: 30px;
    max-height: 30px;
}

li {
    color: white;
}

.active {
    border-bottom: 2px solid white;
}

.jumbotron {
    border-radius: 0;
}


/* Landing Page */
#home-body {
    background-image: url(edit3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    min-height: 100%;

}

#title-land {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    padding-top: 15%;
    text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.4),
                 0px 4px 12px rgba(0, 0, 0, 0.1),
                 0px 8px 18px rgba(0, 0, 0, 0.1);
}

#icon-land {
    max-width: 15rem;
    max-height: 15rem;
}

#main-content {
    /* animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; */ 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    color: white;
    font-family: 'Helvetica', sans-serif;
}

h2 {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    letter-spacing: 0.12rem;
    text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.4),
                 0px 4px 12px rgba(0, 0, 0, 0.1),
                 0px 8px 18px rgba(0, 0, 0, 0.1);
}

.btn {
    margin: 2.5rem;
    border-radius: 40px;
    font-weight: 400;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 4px 16px 0 rgba(0,0,0,0.14);
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(231, 231, 231);
    font-weight: 100;
    font-size: 0.9rem;
    margin: 1rem 1rem;
}

/* Menu Page */
#menu-jumbotron {
    /* background-image: url(rice-topdown5.jpg); */
    background-position: center;
    background-color: #fffffb;
}
.jumbotron h1 {
    color: rgb(59, 59, 59);
    font-size: 6rem;
}

div h1 {
    font-weight: 700;
    font-size: 5rem;
}

/* Menu Items */
h3 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(59, 59, 59);
    /* margin: 6rem auto; */
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
.item-title {
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0.05rem;
}
.item {
    font-size: 17px;
    margin: 1.5rem 0.5rem;
    color: #737373;
    letter-spacing: 0.020rem;
}
.col-xl-4 .item-title {
    max-width: 250px;
}
.item-description {
    font-weight: 400;
    padding-left: 3px;
    border-left: 2px solid #737373;
}
.viet-name {
    font-weight: 200;
    text-transform: lowercase;
    border-left: 0px;
}

.price {
    float: right;
}

/* About Page (Location & Hours) */
#about-jumbotron {
    background-image: url(about1.jpg);
    background-position: center;
}

#about-section h3 {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
    margin-top: 2.5rem;
}

#about-section hr {
    width: 75%;
}

#about-section p {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    color:#383838;
    text-align: center;
    letter-spacing: 0.1rem;
}

#hours-row {
    color:#383838;
    font-size: 1rem;
}
#days {
    padding-right: 0;
}
#hours {
    letter-spacing: 0.1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #202020fa;
    color: white;
    padding: .5rem 1rem;;
    margin-top: 4rem;
 }

